<div class="container">
  <h1>Angular + ASP.NET CORE CRUD</h1>
  <div class="movies-container">
    <div class="movies-form">
      <form>
        <div class="form-group">
          <label for="">Title</label>
          <input type = "text" name="title">
        </div>
        <div class="form-group">
          <label for="">MinutesDuration</label>
          <input type = "number" name="minutesDuration">
        </div>
        <div class="form-group">
          <button>Save</button>
        </div>

      </form>

    </div>
    <div class="movies-grid">
      <div class="movie-row">
        <div class="movie-row-details">
        <span>Static value</span>
        <span>115</span>
        </div>
        <div class="movie-row-action">
          <a><i class="fa-regular fa-trash-can"></i></a>
        </div>
      </div>
  </div>
</div>
	